spring:
  application:
    name: e-commerce-api
  datasource:
    url: jdbc:postgresql://localhost:15432/ecb?profileSQL=true
    username: postgres
    password:
    hikari:
      maximum-pool-size: 32
  jpa:
    #    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false
logging:
  level:
    root: INFO
#    org.springframework.jdbc.core.jdbcTemplate: DEBUG
#    org.springframework.jdbc.core.StatementCreatorUtils: TRACE
